*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 0, 0);
    z-index: 10;
}
:root{
    --color1:rgb(252, 2, 2);
    --color2:rgb(0, 0, 0);
    --color3:rgba(42, 40, 40, 0.979);
    --color4:rgb(252, 251, 251);
}
html {
  scroll-behavior: smooth;
}