@import "../common/Keyframe.module.css";

.heading {
  font-family: Arial, sans-serif;
  color: var(--color4);
  text-decoration: underline 3px var(--color1);
  text-underline-offset: 10px;
  margin-bottom: 20px;
  font-size: 40px;
}

.container {
  /* margin: clamp(1rem ,2rem ,3rem); */
  /* padding: 4rem; */
  /* border: 2px solid white; */
  background: var(--color2);
  margin: 20px;
  padding: 120px;
}
.logo{
    /* padding-right: 10px; */
    
}
.parentContentDiv{
  display: flex;
  flex-wrap: wrap;
  /* border: 2px solid white; */
  gap: 100px;


}
.leftDiv{
  display: flex;
  flex-direction: column;  
  margin: 20px;
  /* border: 1px solid red; */
  flex:1 ;

}
.rightDiv{
  display: grid;
  /* flex-direction: column; */
  counter-reset: var(--color4);
  background-color: var(--color3);
  border: 2px solid var(--color1);
  border-radius: 25px;
  margin: 20px;
  border: 1px dotted rgb(200, 197, 197);
  flex:1;
  padding: 20px;
}
.subheadings{
  color: white;
  font-size:1.5rem;
  margin: 1rem;
}
.contactInfoBlocks{
  display: flex;
  flex-direction: column;
 
  

}
.contactInfoText{
  display: flex;
  flex-direction: column;
  color:var();
   /* width: min-content; */
   /* border: 2px solid white; */

  justify-content: center;
}
.contactInfoText h5,h6{
    padding: 0;
    margin: 0;
    
}
.location{
  padding: 20px;
  font-size: 1.3rem ;
  display: flex;
  flex-direction: row;
}
.location .icon{
  margin-right:5px ;
  
}
.contactInfoText h5{
  color: #c4bdbd;
  font-size: 1rem;
}
.form label{
  color: var(--color4);
  margin-top: 20px;
  font-weight: 300;
  color:var(--color4);
  font-size: 1.2rem;

}

.form{
  display: flex;
  flex-direction: column;
}
.form .input{
  display: flex;
  /* margin: 10px; */
  width: 95%;
  border: none;
  border-radius: 10px;
  height: 30px;
  box-sizing: border-box;
  padding-left: 10px; 
  background-color: rgb(214, 212, 212);
  
  
  
}
.form textarea{
  min-height: 20vh;
}
.form {
  margin: 15px;
}
.form .input ::placeholder{
  padding-left:20px  ;
  color: red;
}
.sendbtn{
  margin:15px 0 10px 0 ;
  width: 95%;
  height: 2rem;
  border: none;
  border-radius: 15px;
  background-color: var(--color1);
  color: var(--color4);
  font-weight: 400;
}
.sendbtn:hover{
  transform: translate(0px, 2px);
  color: red;
  background-color:var(--color4);
  border:1px solid var(--color1);
 
}
@media (max-width: 768px) {
  .container {
    padding: 40px 18px;
  }

  .heading {
    font-size: 28px;
  }

  .card {
    max-width: none;
  }
}
