.linkscontainer{
   
      display: flex;
    flex-wrap:wrap;
    gap: 20px;
}
.sociobtn{
    color: var(--white);
    
    
}
.linkscontainer a{
    
    padding: 15px;
   
}
.sociobtn:hover{
    transform: scale(1.2);
    color:red;
}